.button {
  align-self: center;
  margin-left: 100px;
}

.content {
  padding: 0 50px;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  color: white;
}

.layout {
  height: 100%;
}
