.content {
  padding: 0 50px;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.heading {
  color: white;
  text-transform: uppercase;
}

.layout {
  height: 100%;
}

.logo {
  width: 100px;
  height: 90%;
  align-self: center;
}
