.content {
  padding: 0 50px;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.layout {
  height: 100%;
}
